body{
    margin: 0;
    padding: 0;
}
.flag{
    background-color: green;
    text-align: center;
    height: 600px;
    width: 900px;
    margin: auto;
    margin-top: 50px;
}
.flag div{
    height: 600px;
    width: 300px;
    margin: auto;
    background-color: white;
}